@charset "utf-8";
/* CSS Document */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
  background-color: #fdfdfd;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul, li {
	/* font-family: Arial, Helvetica, sans-serif; */
	/* font-size: 10pt; */
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
header {
  background-color: #252831;
  width: 100%;
  text-align: center;

  padding: 0;
  margin: 0;
}

header > nav {
  position: relative;
  top: 50%;
  background-color: #252831;
  margin: 2em 0;
}

nav > h1 > a {
  color: #fff;
  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  background-color: #eee;
  padding: 1em;
  width: 100%;
}

#breadcrumb_list{
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 4vw;
    font-weight: 300;
}

/* Display list items side by side */
#breadcrumb_list li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb_list li+li:before {
    padding: 0 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb ul li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb ul li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /* background-color: #3397DB; */
  background-color: #252831;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2px;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style-type: none;
  margin: 0;
  padding: 30px 15px 60px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: center;
  margin: 10px;
  max-width: 30%;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 99.9%;
}

#restaurants-list li h1 {
  /* color: #f18200; */
  color: rgb(110, 27, 6);
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 0 10px;
  text-transform: uppercase;
  padding: 0 10px;
}

#restaurants-list p {
  margin: 0;
  font-size: 12pt;
  padding: 0 10px;
}

#restaurants-list li a {
  background-color: rgb(110, 27, 6);
  color: #fff;
  font-size: 10pt;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 2pt;
}

/* ====================== Restaurant Details ====================== */
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 50%;
  right: 0;
  top: 80px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 14pt;
  margin-top: 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-cuisine {
  margin-top: 10px;
}

#restaurant-hours td {
  font-size: 12pt;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 0px;
  width: 100%;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#reviews-list li p:nth-child(1) {
  font-size: 12pt;
  padding-top: 10px;
}
#reviews-list li p:nth-child(3) {
  font-size: 12pt;
  font-weight: 300;
  color: #f58500;
}
#reviews-list li p:last-child {
  font-size: 10pt;
  font-style: italic;
  letter-spacing: 1pt;
}
#restaurant-hours td {
  color: #666;
}
